.select__root {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-left: 1rem;
}

.select__trigger {
  width: 100%;
  max-width: 10rem;
  text-align: start;
  padding: 0.5rem 1rem;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.select__list {
  background: white;
  border: 1px solid darkgray;
  border-radius: 4px;
  margin-top: 0.5rem;
  max-height: 10rem;
  overflow: auto;
}

.select__option {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.select__option-active {
  background-color: cyan !important;
}

.select__option-selected {
  background-color: darkturquoise;
}

.accordion__root {
  padding: 1rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.accordion__trigger {
  padding: 0.5rem 1rem;
  background-color: darkseagreen;
  width: 100%;
  text-align: start;
  border-radius: 8px;
  font-size: 1.5rem;
}

.accordion__trigger-expanded {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion__content {
  padding: 0.5rem 1rem;
  background-color: lightgreen;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.switch {
  width: 2rem;
  border-radius: 16px;
  padding: 0.125rem;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.switch-checked {
  background: blue;
}

.switch-unchecked {
  background: gray;
}

.switch-disabled {
  background-color: midnightblue;
  cursor: not-allowed;
  opacity: 0.5;
}

.switch__thumb {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 99999px;
  transition: transform 100ms ease-in-out;
}

.switch__thumb-checked {
  transform: translateX(calc(100% - 0.25rem));
}

.checkbox-root[data-disabled='true'] {
  opacity: 0.5;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.checkbox-checked {
  background: blue;
}

.checkbox-unchecked {
  background: gray;
}

.checkbox-disabled {
  background-color: darkslateblue;
  cursor: not-allowed;
}

.slider-root {
  width: 16rem;
  height: 0.5rem;
  margin-top: 5rem;
  margin-left: 5rem;
  position: relative;
}

.slider-track {
  width: 100%;
  height: 100%;
  background: gray;
  border-radius: 99999px;
}

.slider-range {
  background: blue;
  height: 100%;
  border-radius: 99999px;
}

.slider-thumb {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 99999px;
  border: 1px solid gray;
}

.slider-root-vertical {
  height: 16rem;
  width: 0.5rem;
  display: block;
  margin-top: 1rem;
  margin-left: 3rem;
}

.slider-track-vertical {
  width: 100%;
  height: 100%;
  background: gray;
  border-radius: 99999px;
}

.slider-range-vertical {
  background: blue;
  border-radius: 99999px;
  width: 100%;
}

.slider-thumb-vertical {
  left: 50%;
  transform: translateX(-50%);
}

.tabs-root {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

.tabs-tablist {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.tabs-element {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background: lightblue;
  border-radius: 4px;
  border: 2px solid lightskyblue;
  cursor: pointer;
}

.tabs-element-selected {
  background: blue;
}

.tabs-element-disabled {
  cursor: not-allowed;
  background: gray;
}

.tabs-panel {
  padding: 0.5rem 1rem;
  border: 2px solid lightskyblue;
  border-radius: 4px;
  font-size: 1.25rem;
  background-color: azure;
}

.tabs-root-vertical {
  display: flex;
  column-gap: 1rem;
}

.tabs-tablist-vertical {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 2rem 1rem;
  width: max-content;
}

.radio-button__root {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.radio-button__root-disabled {
  background-color: lightslategray;
  cursor: not-allowed;
}

.radio-button__root-checked {
  background-color: aliceblue;
}

.radio-button__root-unchecked {
  background-color: antiquewhite;
}

.radio-button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 99999px;
  border: 2px solid;
}

.radio-button-disabled {
  background-color: gray;
  cursor: not-allowed;
}

.radio-button-unchecked {
  background-color: lightblue;
  border-color: darkcyan;
}

.radio-button-checked {
  background-color: hotpink;
  border-color: deeppink;
}

.radio-button__text-container {
  display: flex;
  flex-direction: column;
}

.radio-button__label {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.radio-button__description {
  font-size: 1.25rem;
}

.radio-button__indicator {
  width: 1rem;
  height: 1rem;
  background-color: darkgray;
  border-radius: 99999px;
}

.radio-button__indicator-checked {
  background-color: honeydew;
  border: 2px solid darkgray;
}

.tooltip-trigger {
  display: block;
  width: max-content;
  background-color: darkcyan;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
}

.tooltip-content {
  width: 100%;
  max-width: 16rem;
  height: max-content;
  background: white;
  border: 1px solid darkcyan;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 8px;
}

.tooltip-container {
  max-width: 10rem;
}

.dialog__trigger {
  padding: 0.5rem 1rem;
  background-color: firebrick;

  color: white;
  width: max-content;
  margin: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dialog__trigger:hover {
  background-color: darkred;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 35rem;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  z-index: 5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.dialog__overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.dialog__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.dialog__title {
  font-size: 2rem;
}

.dialog__description {
  font-size: 1.25rem;
}

.dialog__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 99999px;
  cursor: pointer;
}

.dialog__content {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.dialog__content input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

.dialog__content button {
  padding: 0.5rem 1rem;
  background-color: darkcyan;
  width: max-content;
  color: white;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
}
